/*
  Project name(项目名称)：CSS_Gradient 
  File name(文件名): t2
  Author(作者）: mao
  Author QQ：1296193245
  GitHub：https://github.com/maomao124/
  Date(创建日期)： 2022/2/5 
  Time(创建时间)： 21:42
  Version(版本): 1.0
  Description(描述)： 无
 */

div {
    width: 210px;
    height: 100px;
    float: left;
    margin: 10px;
    border: 1px solid black;
}

.one {
    background: radial-gradient(circle at 50%, red, yellow, lime);
}

.two {
    background: radial-gradient(ellipse 100px 30px at 30%, red, yellow, lime);
}

.three {
    background: radial-gradient(circle 100px at 50%, red 10%, yellow 50%, lime 100px);
}

.four {
    background: radial-gradient(circle closest-corner at 50px 30px, red, yellow, lime);
}